#binaries
*.class
nfn-scala/testservice
target/
ccn-lite/bin

#test scripts
test*.sh
test*.java
#output files
output/

#idea
.idea/

#ccn-lite
ccn-lite/bin
ccn-lite/test
ccn-lite/src/ccn-lite-simu
ccn-lite/src/ccn-lite-relay
ccn-lite/src/ccn-nfn-relay
ccn-lite/src/ccn-lite-relay-nack
ccn-lite/src/ccn-nfn-relay-nack
ccn-lite/src/util/ccn-lite-ccnb2xml
ccn-lite/src/util/ccn-lite-cryptoserver
ccn-lite/src/util/ccn-lite-ctrl
ccn-lite/src/util/ccn-lite-fetch
ccn-lite/src/util/ccn-lite-mkC
ccn-lite/src/util/ccn-lite-mkF
ccn-lite/src/util/ccn-lite-mkI
ccn-lite/src/util/ccn-lite-peek
ccn-lite/src/util/ccn-lite-pktdump
ccn-lite/src/util/ccn-lite-produce
ccn-lite/src/util/ccn-lite-rpc
ccn-lite/src/util/ccn-lite-simplenfn
ccn-lite/src/util/ccn-lite-valid

#nodeData 
nodeData/*_Log
nodeData/queryOutput*
nodeData/queryOutput
nodeData/queryStore

#logs
VM-Startup-Scripts/*.log
